
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .center {
      text-align: center;
    }
  </style>
</head>
<body style="background-color:#333333;">
    <div style="display: grid; place-items: center;">
      <img src="LOGO.jpg" alt="LOGO" width="300" class="center">
      <p style=>ACCOUNTS</p>
      <br>

      <!-- example table for account choosing-->
      <p style="color: red; font-size: 20px;">\---ACCOUNT ONE---/│\---ACCOUNT TWO---/│\---ACCOUNT THREE---/</p>
      <p style="color: red; font-size: 20px;">Name:\---EXAMPLE 1---/│\---EXAMPLE 2---/│\---EXAMPLE 3---/</p>
      <p style="color: red; font-size: 20px;">Description:\---EXAMPLE 1---/│\---EXAMPLE 2---/│\---EXAMPLE 3---/</p>
      <p style="color: red; font-size: 20px;">\---SELECT---/│\---SELECT---/│\---SELECT---/</p>
      

      <br>
      <!-- page to select from the 3 different accounts-->
      <button style="width: 300px; height:50px;"onclick="location.href = 'main.html';">HUB</button>
      <br>
      <button style="width: 300px; height:50px;"onclick="location.href = 'settings.html';">SETTINGS</button>
      <br>
      <button style="width: 300px; height:50px;"onclick="location.href = 'members.html';">return</button>
      <!-- to front page -->
    </div>
  </div>
</body>
</html>
