<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color:#333333;">
    <div style="display: grid; place-items: center;">
      <img src="LOGO.jpg" alt="LOGO" width="300" class="center">
      <p style="color: red;">CHANNELS</p>
      <p style="color: red; font-size: 20px;">[SERVER NAME]</p>

      <p style="color: red; font-size: 20px;">\---CHANNEL NUMBER---/│\---CHANNEL NAME---/│\---MESSAGE COUNT---/│\---GO SYMBOL---/</p>
      <p style="color: red; font-size: 20px;">\---CHANNEL 1---/│\---GENERAL---/│\---143---/│\---PLAY_SYMBOL---/</p>
      <p style="color: red; font-size: 20px;">\---CHANNEL 2---/│\---CAT PICTURES---/│\---1000---/│\---PLAY_SYMBOL---/</p>
      <!--PLAY SYMBOL would be <box-icon name='play-circle'></box-icon> from boxicons.com -->
      <p style="color: red; font-size: 20px;"></p>
      <br>
      <br>
      <!-- would show list of channels in the server / default channe;s already set inside for testing-->
      <button style="width: 300px; height:50px;" onclick="location.href = 'servers.html';">return</button>
    </div>
  </div>
</body>
</html>