<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .center {
      text-align: center;
    }
  </style>
</head>
<body style="background-color:#333333;">
    <div style="display: grid; place-items: center;">
      <img src="LOGO.jpg" alt="LOGO" width="300" class="center">
      <form method="POST" class="post-form">  
        {% csrf_token %}  
        {{ form.as_p }}  
        <button type="submit" class="save btn btn-default">Save</button>  
      </form>  

      <p style="color: red;">BY CLICKING "SUBMIT" YOU AGREE TO THE FOLLOWING T&C'S</p>
      <button onclick="location.href = 'terms.html';">T&C's</button>
      <p style=></p>
      <p style=></p>
      <button onclick="location.href = 'members.html';">RETURN</button>
    </div>
  </div>
</body>
</html>
