<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .center {
      text-align: center;
    }
  </style>
</head>
<body style="background-color:#333333;">
    <div style="display: grid; place-items: center;">
      <img src="LOGO.jpg" alt="LOGO" width="300" class="center">
      <p style="color: red; font-size: 30px;">CREATE USER:</p>
      <p style=></p>
      <p style="color: red;">USERNAME</p> 
      <input type="u_name" id="u_name" name="u_name"><br><br>
      <p style="color: red;">PASSWORD</p> 
      <input type="passw" id="passw" name="passw"><br><br>
      <p style="color: red;">EMAIL</p> 
      <input type="email" id="email" name="email"><br><br>
      <p style="color: red;">GENDER</p> 
      <input type="gen" id="gen" name="gen"><br><br>
      <p style="color: red;">COUNTRY</p> 
      <input type="country" id="country" name="country"><br><br>
      <p style="color: red;">BY CLICKING "SUBMIT" YOU AGREE TO THE FOLLOWING T&C'S</p>
      <button onclick="location.href = 'terms.html';">T&C's</button>
      <p style=></p>
      <input type="submit" value="Submit" style="font-size: 20px; padding: 10px 20px;">
      <p style=></p>
      <p style=></p>
      <button onclick="location.href = 'members.html';">RETURN</button>
    </div>
  </div>
</body>
</html>