

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .center {
      text-align: center;
    }
  </style>
  <title>loading...</title>
  <meta http-equiv="refresh" content="3;url=accounts.html"> </head>
</head>
<body style="background-color:#333333;">
    <div style="display: grid; place-items: center;">
      <img src="LOGO.jpg" alt="LOGO" width="300" class="center">
      <br>
      <p style="color: red; font-size: 40px;">LOADING...</p>
      <br>
    </div>
  </div>
</body>
</html>