<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .center {
      text-align: center;
    }
  </style>
</head>
<body style="background-color:#333333;">
    <div style="display: grid; place-items: center;">
      <img src="LOGO.jpg" alt="LOGO" width="300" class="center">
      <p style="color: red; font-size: 25px;">LOGIN</p>
      <!--<button style="width: 300px; height:50px;"onclick="location.href = 'load.html';">TO LOAD (TO REMOVE)</button>-->
      <!-- UNCOMMENTING THIS GIVES ACCESS TO THE LOAD PAGE WITHOUT SUBMITTING INFO-->
      <form action="action_page.php" method="POST">

        <div>
        <label for='u_name'> Username </label>
        <input type="text" id="u_name" name="u_name"  required>
        </div>

        <br>

        <div>
        <label for='passw'> Password </label>
        <input type="password" id="passw" name="passw"  min="10" max="20" required>
        </div>

        <br>

        <div>
          <input type="reset">
        
          <input type="submit">
        </div>

        <br>

      </form>
      <button style="width: 300px; height:50px;"onclick="location.href = 'members.html';">return</button>
      <!-- RETURNS TO MEMBERS.html or front page-->
    </div>
  </div>
</body>
</html>
