
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .center {
      text-align: center;
    }
  </style>
</head>
<body style="background-color:#333333;">
    <div style="display: grid; place-items: center;">
      <img src="LOGO.jpg" alt="LOGO" width="300" class="center">
      <p style="color: red;">HUB</p>
      <!-- a page which links evertyhing on your chosen account together, this would be changed so servers.html and main.html become one-->
      <button style="width: 300px; height:50px;"onclick="location.href = 'servers.html';">TO SERVERS</button>
      <br>
      <button style="width: 300px; height:50px;"onclick="location.href = 'accounts.html';">return to ACCOUNTS</button>
      <br>
      <button style="width: 300px; height:50px;"onclick="location.href = 'members.html';">return to MEMBERS</button>
      <br>
      <button style="width: 300px; height:50px;"onclick="location.href = 'report.html';">TO REPORT</button>
    </div>
  </div>
</body>
</html>
