

  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .center {
      text-align: center;
    }
  </style>
</head>
<body style="background-color:#333333;">
    <div style="display: grid; place-items: center;">
      <img src="LOGO.jpg" alt="LOGO" width="300" class="center">
      <p style="color: red;">SERVERS</p>
      <!-- would show list of servers the accoutn is in / default servers alreayd set inside for testing-->
      <br>

      <p style="color: red; font-size: 20px;">[Account Name]</p>

      <p style="color: red; font-size: 20px;">\---Server Name---/│\---Member Count---/│\---Server Description---/│\---SELECT---/</p>
      <p style="color: red; font-size: 20px;">\---Welcome Server---/│\---143---/│\---new users to chat---/│\---SELECT---/</p>
      <p style="color: red; font-size: 20px;">\---CATS---/│\---9999---/││\---cat enthusiats---/\---SELECT---/</p>
      <p style="color: red; font-size: 20px;">\---Coding---/│\---347---/││\---Coding struggle support--/\---SELECT---/</p>
      <!--PLAY SYMBOL would be <box-icon name='play-circle'></box-icon> from boxicons.com -->
      <p style="color: red; font-size: 20px;"></p>
      <br>
      <br>

      <br>
      <button style="width: 300px; height:50px;" onclick="location.href = 'accounts.html';">return</button>

      <button style="width: 300px; height:50px;" onclick="location.href = 'channels.html';">channels</button>
      <!-- this wouldnt be there normally-->
    </div>
  </div>
</body>
</html>
