<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img src="LOGO.jpg" alt="LOGO" width="300" class="center" text-align: center;>
  </head>
  <body style="background-color:#333333;">
  <body>
    <div style="background-color:#FFFFFF;">
    <div style="display: grid; place-items: center;">
    <p style="color: red;">SETTINGS</p>
    <button style="width: 300px; height:50px;onclick="location.href = 'accounts.html';">RETURN TO ACCOUNTS</button>
  </body>
</html>