<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .center {
      text-align: center;
    }
  </style>
</head>
<body style="background-color:#333333;">
    <div style="display: grid; place-items: center;">
      <img src="LOGO.jpg" alt="LOGO" width="300" class="center">
      <p style="color: red; font-size: 35px;">Terms And Conditions:</p>
      <p style="color: red;">1) Respect everyone equally</p> 
      <p style="color: red;">2) dont perform any dangerous acts on website</p> 
      <p style="color: red;">3) Report issues / bad behaviour on the site</p> 
      <p style="color: red;">4) do not intentionally attempt to exploit issues within the website</p> 
      <p style="color: red;">5) Legal words beep boop beep boop</p> 
      <br>
      <p style="color: red; font-size: 30px;">REGARDING YOUR PERSONAL DATA:</p>
      <p style="color: red;">Any and all collected data will not be publicly available or sold to advertisers</p> 
      <br>
      <button onclick="location.href = 'create.html';">RETURN</button>
    </div>
  </div>
</body>
</html>
